nav{
  padding: 30px 0;
  margin: auto;
  text-align: right;
  height: 102px;
  max-width: 1440px;
}

nav a{
  display: inline-block;
  font-size: 1.8rem;
  color: #888;
  padding: 10px;
  margin: 0 20px;
  text-transform: uppercase;
  text-decoration: none;
  
}

nav a:hover{
  border-bottom: 9px solid #555;
  color: #222;
}

nav a.reservation{
  font-size: 2.2 rem;
  border: 3px solid #555;
  padding: 10px 30px;
  letter-spacing: 1px;
  margin: auto 50px auto 80px;
  transition: 0.3s;
}

nav a.reservation:hover{
  background-color: royalblue;
  color: #eee;
  border-color: royalblue;
}
