*{
margin: 0; 
padding: 0;
box-sizing: border-box;

}

html{
  font-size: 10px;
  font-family: 'Roboto Condensed', sans-serif;
}

body{
  background-color: rgb(247, 241, 241);
}




